/* These are my global styling rules */

BODY    {
           background-color: #FFFFFF;
           color: #000000;
           height: 100%;
           margin: 0;
           padding: 0;
           font-family: verdana,arial,helvetica,sans-serif;
           font-size: 10pt;
           font-style: normal;
           font-weight: 500;
        }

PRE	{
		color: #000000;
		font-size: 10pt;
		font-weight:500;
	}

TD	{
		font-size:10pt;
	}
TH	{
		font-size:10pt;
		font-weight:bold;
	}

A:link  {
                color: #006699;
        }

A:visited {
                color: #666666;
        }

A:active {
                color: #FF0000;
        }

DIV.mainContainer {
	position: relative;
	min-height: 100%;	
}

DIV#header {
        width:100%;
        border-width: 0;
        padding: 0;
        background-color: #0075B2;
        z-index:1;
        color: #FFFFFF;
        font-family: verdana,arial,helvetica,sans-serif;
        font-size:8pt;
        font-style:normal;
        font-weight:300;
        margin-top:0px;
}

DIV#header a:link {
	color: white;
	font-size: 10pt;
	font-weight: bold;
}

DIV#header a:visited {
	color: white;
	font-size: 10pt;
	font-weight: bold;
}

DIV#header a:active {
	color: white;
	font-size: 12pt
	font-weight: bold;
}


DIV#footer {
        width:100%;
        position: absolute;
        bottom:0;
        padding: 1 0 1 0;
        margin-top: 10;
        border-width: 0;
        border-style:none;
        z-index:1;
        background-color: #0075B2	;
        color: #FFFFFF;
        font-family: verdana,arial,helvetica,sans-serif;
        font-size:8pt;
        font-style:normal;
        font-weight:bold;
        text-align:center;
}

.main_menu {
	background-color: #0075B2;
	color: white;
	font-size: 10pt;
	font-weight: bold;
	padding: 4 4 0 4;
}

.main_menu_hover {
	background-color: #a4c2db;
	color: #0075B2;
}

.main_menu_selected {
	background-color:white;
	color: #0a90D0;
}

.sub_menu {
	font-size: 10pt;
	font-weight: bold;
	padding: 4 4 4 4;
}

.sub_menu_hover {
	
}

.sub_menu_selected {

}

DIV #history {
	border: 1px solid #8CACBB;	
	margin: 2 5 2 5;
	padding: 0;
}

DIV.ms, DIV.pinfer, DIV.upload, DIV.adminSearch, DIV.groups, DIV.search, DIV.register, DIV.error, DIV.login, DIV.project, DIV.account {
        border-width: 1;
        border-style: solid;
        padding: 5px;
        z-index:1;
        font-family: verdana, helvetica, arial;
        font-size:10pt;
        font-style:normal;
        font-weight:500;
        margin:0px;
        border-color: #8CACBB;
        background-color: #DEE7EC;
        color: black;
}

DIV.ms_header, DIV.pinfer_header, DIV.upload_header, DIV.adminSearch_header, DIV.groups_header, DIV.search_header, DIV.register_header, DIV.error_header, DIV.login_header, DIV.project_header, DIV.account_header {
        border-width: 1;
        border-style: solid;
        padding: 5px;
        z-index:1;
        font-family: verdana, helvetica, arial;
        font-size:12pt;
        font-style:normal;
        font-weight:900;
        margin:0px;
        border-color: #8CACBB;
        background-color: #8CACBB;
        color: black;
}


/* Login color definitions */
DIV.login_header {
}

DIV.login {
}


/* Register color definitions */
DIV.register {
}

DIV.register_header {
	width: 600;
}

/* Error color definitions */
DIV.error_header {
        border-color: #B20A23;
        background-color: #B20A23;
        color: #FFD3DA;
}
DIV.error {
        border-color: #B20A23;
        background-color: #FFD3DA;
        color: #B20A23;
}



/* Search color definitions */
DIV.search {
	width: 600;
}

DIV.search_header {
	width: 600;
}
TR.search_A {
	background-color: #E8EAFF;
}
TR.search_B {
	background-color: #D8DBFE;
}
DIV.search .button {
	background-color:#000960;
	color:#E8EAFF;
	font-size:10pt;
	font-weight:bold;
	margin-top:20px;	
}




/* Project color definitions */
DIV.project {
}
DIV.project_header {
}
TR.project_A {
	background-color: #e5d3ff;
}
TR.project_B {
	background-color: #eee2ff;
}
DIV.project .button {
	background-color:#1d0047;
	color:#e5d3ff;
	font-size:10pt;
	font-weight:bold;
	margin-top:20px;	
}
INPUT.project_button {
	background-color:#1d0047;
	color:#ffffff;
	font-size:12pt;
	font-weight:bold;
	margin-top:15px;
	text-decoration:none;
}



/* account color definitions */
DIV.account {
        width: 600;
}

DIV.account_header {
        width: 600;
}

/* admin group management color definitions */
DIV.groups {
        width: 600;
        border-color: #2F4A00;
        background-color: #D4FF8B;
        color: #000000;
}

DIV.groups_header {
        width: 600;
        border-color: #2F4A00;
        background-color: #2F4A00;
        color: #D4FF8B;
}

/* admin search color definitions */
DIV.adminSearch {
        width: 600;
        border-color: #59AFFF;
        background-color: #EEF7FF;
        color: #000000;
}
DIV.adminSearch_header {
        width: 600;
        border-color: #59AFFF;
        background-color: #59AFFF;
        color: #000000;
}
TR.adminSearch_A {
	background-color: #D6EBFF;
}
TR.adminSearch_B {
	background-color: #EEF7FF;
}

/* data upload color definitions */
DIV.upload {
        width: 600;
}

DIV.upload_header {
        width: 600;
}
TR.upload_A {
	background-color: #FFF0D8;
}
TR.upload_B {
	background-color: #E9E6E2;
}



DIV.ms {
        width: 600;
}
DIV.ms_header {
        width: 600;
}
TR.ms_A {
	background-color: #D4FECA;
}
TR.ms_B {
	background-color: #EBFFE6;
}

DIV.ms .button {
	background-color:#3D902A;
	color: #EBFFE6;
	font-size:10pt;
	font-weight:bold;
	margin-top:20px;	
}


DIV.pinfer {
        width: 600;
        border-color: #006400;
        background-color: #EBFFE6;
        color: #006400;
}
DIV.pinfer_header {
        width: 600;
        border-color: #2F5F4F;
        background-color: #2F5F4F;
        color: #EBFFE6;
}
TR.pinfer_A {
	background-color: #BFECBF;
}
TR.pinfer_B {
	background-color: #EBFFE6;
}

DIV.pinfer .button {
	background-color:#2F5F4F;
	color: #EBFFE6;
	font-size:10pt;
	font-weight:bold;
	margin-top:20px;	
}



/* MS-specific styling rules */
SPAN.covered_peptide {
	color: #FF0000;
}
SPAN.single_star_residue {
	color: #FF0000;
	font-weight: bold;
	background-color: #FFFF00;
}
SPAN.multiple_star_residue {
	color: #FFFF00;
	font-weight: bold;
	background-color: #FF0000;
}
SPAN.single_at_residue {
	color: #FF0000;
	font-weight: bold;
	background-color: #FFB7EA;
}
SPAN.multiple_at_residue {
	color: #FFB7EA;
	font-weight: bold;
	background-color: #FF0000;
}
SPAN.single_hash_residue {
	color: #FF0000;
	font-weight: bold;
	background-color: #BCB7FF;
}
SPAN.multiple_hash_residue {
	color: #BCB7FF;
	font-weight: bold;
	background-color: #FF0000;
}

INPUT.error_button {
	background-color:#ff0000;
	color:#ffffff;
	font-size:12pt;
	font-weight:bold;
	margin-top:15px;
	text-decoration:none;
}